<mat-toolbar class="header" *subscribe="isLightTheme$; let isLightTheme">
  <button mat-icon-button (click)="toggleSideNavVisibility()">
    <mat-icon
      [matTooltip]="collapse === true ? 'Hide' : 'Show'"
      (click)="collapse = !collapse"
      >menu</mat-icon
    >
  </button>
  <span class="spacer"></span>
  <mat-slide-toggle
    [color]="'warn'"
    [checked]="isLightTheme"
    (change)="toggleDarkTheme($event.checked)"
    >{{ isLightTheme ? "Light Theme" : "Dark Theme" }}</mat-slide-toggle
  >
  <span class="header-spacer"></span>
  <button mat-icon-button>
    <mat-icon>mail_outline</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon
      [matBadge]="notificationCount"
      [matBadgeHidden]="notificationCount === 0"
      matBadgeColor="warn"
    >
      notifications_none</mat-icon
    >
  </button>
  <button mat-icon-button matTooltip="Logout" (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
